
bora-codar/portifolio/BoraCodar_Portifolilo/
bora-codar/social-tree/BoraCodar_Social_Tree/
frontend_mentor/results-summary-component-main/FrontEnd-Mentor_Result_Summary/
frontend_mentor/qr-code-component-main/Frontend-Mentor_QRcode/
frontend_mentor/interactive-card-details-form/FrontEnd-Interactive_Card_Details_Form/
